<li><p class="navbar-text"><%= group.title %></p></li>
<!-- Button trigger modal -->
<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-meme-modal"><span class='glyphicon glyphicon-plus'></span>Upload New Meme</button></li>
  <%= render partial: 'layouts/nav/upload', locals: {meme: Meme.new}%>
