// Place all the styles related to the memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-meme-container {
  width:100%;
}
.index-meme {
  max-height: 50px;
  max-width: 50px;
}
