<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <p class="navbar-text"><%= link_to "Sign In", login_path %></p>
    <p class="navbar-text"><%= link_to "Sign Up", registration_new_path %></p>
</div><!-- /.navbar-collapse -->
