<!-- Button trigger modal -->
<li><button type="button" class="btn btn-primary navbar-btn"" data-toggle="modal" data-target="#new-meme-modal"><span class='glyphicon glyphicon-plus'></span>Upload New Meme</button></li>
  <%= render partial: 'layouts/shared/nav/upload', locals: {meme: Meme.new}%>
