<div class="modal fade" id="new-meme-modal" tabindex="-1" role="dialog" aria-labelledby="add-new-meme" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="add-new-meme">Add A New Meme!</h3>
        </div>
        <div class="modal-body">
          <%= form_for meme do |f| %>
            <div class="form-group">
              <%= f.label :image, "Upload A File", class: 'btn btn-success btn-file' %>
            <%= f.file_field(:image, accept: 'image/png,image/gif,image/jpeg', class:
            'hidden') %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit class: "btn btn-primary"%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
